<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.clockworkjava"/>
    <context:property-placeholder location="classpath:castle.properties"/>

    <bean id="quest" class="com.clockworkjava.kursspring.domain.Quest" scope="prototype" />

    <bean id="lancelot" class="com.clockworkjava.kursspring.domain.Knight" scope="prototype" primary="true">
        <constructor-arg index="0" value="Lancelot" />
        <constructor-arg index="1" value="29" />
        <property name="quest" ref="quest"/>
    </bean>
    <bean id="percival" class="com.clockworkjava.kursspring.domain.Knight" scope="prototype">
        <constructor-arg index="0" value="Percival" />
        <constructor-arg index="1" value="22" />
        <property name="quest" ref="quest"/>
    </bean>

    <bean id="zamek" class="com.clockworkjava.kursspring.domain.Castle"
          init-method="build"
          destroy-method="tearDown"
          scope="prototype">
        <constructor-arg index="0" ref="lancelot"/>
        <property name="name" value="${my.castle.name:EastWatch}"/>
    </bean>

    <bean id="tournament" class="com.clockworkjava.kursspring.domain.Tournament">
    <constructor-arg index="0" ref="percival"/>
    </bean>

</beans>