<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Knight list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
    <body>
    <h1 class="text-center">Rycerze</h1>
        <div class="container">
        <table class="table">
            <thead>
            <tr>
                <td>Imię rycerza</td>
                <td>Wiek</td>
            </tr>
            </thead>
            <tbody th:each="knight : ${knights}">
                <tr>
                    <td th:text="${knight.name}"/>
                    <td th:text="${knight.age}"/>
                </tr>
            </tbody>
        </table>
            <div class="row">
                <button class="btn btn-warning" href="/newknight">Dodaj rycerza</button>
            </div>
        </div>
    </body>
</html>